<!doctype html>
<html class="h-full" style="direction: rtl !important;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/mini-logo.ico">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
       @font-face {
            font-family: regfont;
            src: url(/fonts/Heebo/Heebo-Regular.ttf);
        } 

        @font-face {
            font-family: regfontbold;
            src: url(/fonts/Heebo/Heebo-bold.ttf);
        } 
        
        p {
            font-family: regfont, Arial, Helvetica, sans-serif;
            color: #131f25;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: regfontbold, Arial, Helvetica, sans-serif;
            color: #131f25;
        }

        #earth {
            width: 75%;
            max-width: 500px;
        }
  </style>
</head>
<body class="bg-black h-full grid grid-cols-[auto_1fr]">
    <!-- Signup sidebar -->
    <div class="bg-slate-200 h-full p-10 rtl drop-shadow-lg">
        <h1 class="text-xl text-center mb-4">הרשמה</h1>
        <div id="signup-feedback-success" style="display: none;" class="bg-green-600 mb-2 rounded text-sm text-white p-2 text-center">ההרשמה הושלמה, נתראה!</div>
        <div id="signup-feedback-failure" style="display: none;" class="bg-red-600 mb-2 rounded text-sm text-white p-2 text-center"></div>
        <form method="POST" action="/">
            <div>
                <span class="block text-sm font-medium text-slate-700">
                    <span class="text-red-600">* </span>
                    שם פרטי
                </span>
                <input type="text" name="first_name" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <span class="block text-sm font-medium text-slate-700">
                    <span class="text-red-600">* </span>    
                    שם משפחה
                </span>
                <input type="text" name="last_name" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <span class="block text-sm font-medium text-slate-700">
                    <span class="text-red-600">* </span>    
                    טלפון
                </span>
                <input type="phone" name="phone" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <span class="block text-sm font-medium text-slate-700">
                    <span class="text-red-600">* </span>
                    מייל נס-הרים
                </span>
                <input type="email" name="email" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <span class="block text-sm font-medium text-slate-700">
                    <span class="text-red-600">* </span>
                    תעודת זהות
                </span>
                <span class="block text-sm font-sm text-slate-500">לאישורי כניסה לאירוע</span>
                <input type="text" name="id" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <span class="block text-sm font-medium text-slate-700">יכולות רלוונטיות</span>
                <span class="block text-sm font-sm text-slate-500">ידע רלוונטי, תכנות, לא חובה</span>
                <input type="text" name="capab" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">


                <span class="block text-sm font-medium text-slate-700">העדפת מזון</span>
                <span class="block text-sm font-sm text-slate-500">צמחונות, טבעונות, צליאק, אלרגיות...</span>
                <input type="text" name="food" class="mt-2 p-2 mb-3 rounded bg-slate-50 focus:bg-white shadow">

                <button type="submit" class="block mx-auto my-0 mt-4 bg-[#324149] text-white py-2 px-3 rounded-2xl shadow">
                    תרשום אותי!
                </button>
            </div>
        </form>
    </div>

    <!-- Content div -->
    <div class="bg-[#6be4c7] grid grid-rows-[1fr_auto]">
        <!-- logo -->
        <div class="p-10 container m-[0_auto]">
            <img src="/logo.png" class="w-[38rem] m-[0_auto]">
            <p class="mt-10 text-lg text-center">
                אנחנו חיים בזמן קריטי: ההשפעות של ההתחממות הגלובלית הרסניות, וההערכות הן שיש לנו רק עד 2030 ליצור שינוי משמעותי שימנע את התרחישים הגרועים ביותר. 
                חלק גדול מהשינויים שצריכים להעשות תלויים בפריצות דרך מדעיות וטכנולוגיות, על מנת להבין את הבעיה טוב יותר ובשביל ליצור לה פתרונות חדשניים.
                <br>
                אנחנו מתגייסים לעזור.
                <br>
                במשך חודש וחצי קבוצות של חיילים מהיחידה ישתפו פעולה עם גופים אזרחיים (משרדי ממשלה, עמותות ומכוני מחקר) שחסר להם כוח אדם טכנולוגי, ויפתחו ביחד פרויקטים שעוסקים בפתרונות למשבר האקלים.   
                <br>
            </p>

            <p class="mt-3 text-lg text-center">
                <b>הסתקרנתם? הרשמו ובואו למפגש הפתיחה!</b>
            </p>

            <div class="grid grid-cols-3 gap-6 mt-8"> 
                <div>
                    <img src="/map.png" class="w-14 m-[0_auto]">
                    <p class="text-lg text-center mt-2">
                        נפגש בימי שני* בערב במתחם העבודה שבמרינה הרצליה שהתנדבו לארח אותנו. שם נפגש עם המנטורים הטכנולוגים ואנשי המקצוע מטעם הגופים השותפים                    
                    </p>
                </div>
                <div>
                    <img src="/open-book.png" class="w-14 m-[0_auto]">
                    <p class="text-lg text-center mt-2">
                        במהלך החודש וחצי עבודה נעבור הרצאות העשרה בנושאי אקלים, טכנולוגיה ומה שביניהם ממרצים מובילים בתחום
                    </p>
                </div>
                <div>
                    <img src="/win.png" class="w-14 m-[0_auto]">
                    <p class="text-lg text-center mt-2">
                        את ההאקתון נחתום באירוע שיא מטורף שימשך יומיים**
                    </p>
                </div>
            </div>

            <!-- disclaimers -->
            <div>
                <p class="mt-10 text-sm text-grey-500">
* מי שלא פנוי בימי שני, מוזמן להגיע למתחם בימים אחרים כולל סופי שבוע. אנשי הבסיסים הפרוסים יוכלו לעבוד בקבוצות מתוך הבסיס.
<br>
** לא נחשב כימי חופשה
<br>
*** הרשמה להאקתון דורשת התחייבות למינימום של 20 שעות עבודה במהלך החודש וחצי שיקדם לו. 
                </p>
            </div>
        </div>
        <img id="earth" class="m-[0_auto] mt-3" src="/earth-sliced.png" />
    </div>
    
    <input id="submit-status" style="display: none" value="<%= submitStatus %>">
    <script>
        window.onload = function() {
            var submitStatus = document.getElementById("submit-status").value;
            if(submitStatus === "success")
                document.getElementById("signup-feedback-success").style.display = "block";
            else if(submitStatus !== undefined && submitStatus !== "") {
                document.getElementById("signup-feedback-failure").style.display = "block";
                document.getElementById("signup-feedback-failure").innerHTML = submitStatus;
            }
        }
    </script>
</body>
</html>